.container{
    width: 50%;
    height: 80%;
    display: flex;
    float: center;
    margin: auto;
    background-color: rgb(98, 108, 134);
    flex-direction: column;
}
.fenyx{
    display: flex;
    padding-left: 11px;
    background: #24405d;
    padding-top: 10px;
    border: solid black 1px;
}
.cyberpunk{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    background: #24405d;
    border: solid black 1px;
}
.dragon{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    background: #24405d;
    border: solid black 1px;
}
.chronos{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    background: #24405d;
    border: solid black 1px;
}
.football{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    background: #24405d;
    border: solid black 1px;
}
.point{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    background: #24405d;
    border: solid black 1px;
}
.sea{
    display: flex;
    padding-top: 7px;
    padding-left: 11px;
    padding-block-end: 15px;
    background: #24405d;
    border: solid black 1px;
}
.container2{
    width: 100%;
    height: 100%;
    display: flex;
    background: #16202d;
}
.container2 > img{
    display: flex;
    justify-content: space-around;
    margin: auto;
}


