.capaimagen{
    border: solid red 2px;
    padding-right: 100px;
    float: left;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}
.capaimagen > p{
    color: white;
    border: solid white 2px;
    width: 75%;
    height: 10%;
}
.capaimagen > img{
    border: solid white 2px;
}
.container{
    display: flex;
    border: solid blueviolet 2px;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    padding-top: 15px;
}