.capaimagen{
    border: solid red 2px;
    padding-right: 100px;
    float: left;
    width: 25%;
}
.capaimagen > p{
    align-content: space-around;
    float: right;
    justify-content: right;
    color: white;
}
.container{
    display: flex;
    border: solid blueviolet 2px;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    padding-top: 15px;
}