html{
    height: 100%;
    width: 100%;
}
body{
    text-align:center;
    background-image: url(https://images2.alphacoders.com/834/834205.jpg);
    margin: 0;
}
.menu > li{
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    border-radius: 15px;
}
.menu > li > a:hover{
    background-color: rgb(240, 97, 72);
    transition: 0.5s;
    transform: scale(1.2);

}
header{
    height: 17%;
    width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background:url(https://image.freepik.com/vector-gratis/diseno-moderno-fondo-negro-3d_53876-89865.jpg) no-repeat center ;
    background-size: cover;
}

#Logo{
    height: 50px;
    width: 200px;
}
#imgLogo{
    padding-left: 30px;
}
.img{
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
}