@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container{
	position: relative;
	width: 300px;
	height: 423px;	
	margin: 10px auto 0 auto;
	overflow: hidden;
}

.container:hover .capaTexto{
	background-color: black;
	transition-delay: 0.3s;
	transition: 2 all;
	transform: translate(0px,-423px);
}


.capaImagen{
	position:relative;
	width: 300px;
	height: 423px;
}

.capaTexto{
	color:white;
	background-color:navy;
	width: 300px;
	height: 423px;
	margin: 0 auto 0 auto;
	display:table;
	transition: 2s all;
	opacity: 70%;
}

.enlace{
	font-size:40px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

.enlace a:link{
	color:white;
}
h2{
    color: rgb(233, 233, 233);
    font-size: 2em;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
	padding-top: 20px;
}
h3{
	color: rgb(233, 233, 233);
    font-size: 2em;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
	padding-top: 10pc;
}
.novedades{
	display: flex;
	margin: auto;
	color: rgb(123, 231, 195);
	justify-content: left;
	padding: 16px;

}
.fenyx{
	padding: 8px;
}
.cyberpunk{
	padding: 8px;
}
.dragon{
	padding: 8px;
}
.chronos{
	padding: 8px;
}
.football{
	padding: 8px;
}
.point{
	padding: 8px;
}
.sea{
	padding: 8px;
}